<%- include("header", {title: title}); %>

<h1>Welcome to <span class="logo">CDOff</span></h1>

<p class="outer-button"><a class="button" href="product">View all products</a></p>

<div class="image-frame">
    <div class="image1"><img class="image" src="/img/vinyl.png" alt="cd"></div>
</div>

<%- include("footer"); %>
