<%- include("header", {title: title}); %>

<h1>About</h1>

<p>Jag, Paul Moreland (PAMO18), har jobbat själv på hela eshop projektet: eshop1, eshop2 och eshop3.</p>


<div class="image-frame">
    <div class="image1"><img class="image" src="/img/vinyl.png" alt="cd"></div>
</div>

<%- include("footer"); %>
