<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">
<script src="https://use.fontawesome.com/0aee473986.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<header>
    <a href="/eshop/index"><img class="nav-image" src="/img/cd.png" alt="cd"></a>
    <nav>
        <a class="button nav" href="/eshop/index">Home</a>
        <a class="button nav" href="/eshop/category">Categories</a>
        <a class="button nav" href="/eshop/product">Products</a>
        <a class="button nav" href="/eshop/create">Create product</a>
        <a class="button nav" href="/eshop/product/view">Manage products</a>
        <a class="button nav" href="/eshop/customer">View customers</a>
        <a class="button nav" href="/eshop/order">Orders</a>
        <a class="button nav" href="/eshop/log">Log</a>
        <a class="button nav" href="/eshop/about">About</a>
    </nav>
</header>

<main>
    <div class="banner">
        <img class="image" src="/img/shop2.jpg" alt="shop">
    </div>
