<%- include("header", {title: title}); %>

<h1>About</h1>

<p>Jag, Paul Moreland (PAMO18), har jobbat själv med detta projekt.</p>


<div class="image-frame">
    <div class="image1"><img class="image" src="/img/vinyl.png" alt="cd"></div>
</div>

<%- include("footer"); %>
