<%- include("header", {title: title}); %>

<h1>Product category</h1>

<p>Here are all the product catagories.</p>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<table>
    <tr>
        <th>Product catagories</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td class="center"><%= row.typ %></td>
    </tr>
<% }; %>
</table>

<%- include("footer"); %>
