<%- include("header", {title: title}); %>

<h1>Welcome to CDOff</h1>

<ul class="center-link">
    <li><a href="product">View products</a></li>
</ul>

<div class="image-frame">
    <div class="image1"><img class="image" src="/img/cd.png" alt="cd"></div>
</div>

<%- include("footer"); %>
