<%- include("header", {title: title, siteRoute: siteRoute}); %>

<h1><span class="logo">En Japansk smakresa</span></h1>

<p class="outer-button"><a class="button" href="<%= siteRoute %>/sushi-view">View Sushi</a></p>
<p class="outer-button"><a class="button" href="<%= siteRoute %>/competition-view">View Competitions</a></p>

<div class="image-frame">
    <div class="image1"><img class="image" src="/img/wanted.jpg" alt="Japan"></div>
</div>

<%- include("footer"); %>
